composer.lock
vendor/
_resources/
public/assets/*
!public/assets/.protected/.gitkeep
!public/assets/.protected/.htaccess
!public/assets/.htaccess
public/_resources/*
.env
tmp/*
!tmp/.gitkeep
silverstripe-cache/*
!silverstripe-cache/.gitkeep
.DS_Store
.gitmodules
log/*
!log/.gitkeep

nbproject/
